
extends common.pug
block content
    link(rel='stylesheet', href='/styles/home_user.css')
    link(rel='stylesheet', href='/styles/home.css')


    nav.navbar.navbar-default.navbar-expand-xl.navbar-light
        .navbar-header.d-flex.col
            a.navbar-brand(href='/home')
                i.fa.fa-cube
                b BK
                | Elearning
            button.navbar-toggle.navbar-toggler.ml-auto(type='button', data-target='#navbarCollapse', data-toggle='collapse')
                span.navbar-toggler-icon
                span.icon-bar
                span.icon-bar
                span.icon-bar
        // Collection of nav links, forms, and other content for toggling
        #navbarCollapse.collapse.navbar-collapse.justify-content-start
            ul.nav.navbar-nav
                li.nav-item.active
                    a.nav-link(href='/home') Home
                li.nav-item
                    a.nav-link(href='#') About
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#')
                        | Services 
                        b.caret
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href='#') Web Design
                        li
                            a.dropdown-item(href='#') Web Development
                        li
                            a.dropdown-item(href='#') Graphic Design
                        li
                            a.dropdown-item(href='#') Digital Marketing
                li.nav-item
                    a.nav-link(href='#') Blog
                li.nav-item
                    a.nav-link(href='#') Contact
            form.navbar-form.form-inline(action='/courses/search', method='post')
                .input-group.search-box
                    input#search.form-control(name = "key",type='text', placeholder='Search by Name')
                    span.input-group-addon
                        i.fa.fa-search
            ul.nav.navbar-nav.navbar-right.ml-auto
                
                li.nav-item
                    a.nav-link.messages(href='/cart')
                        i.fa.fa-cart-plus
                        span.badge= num
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.user-action(href='#', data-toggle='dropdown')
                        img.avatar(src=user.linkImg, alt='Avatar')
                        = user.name
                        b.caret
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href='/profile')
                                i.fa.fa-user-o
                                |  Profile
                        li
                            a.dropdown-item(href='/change_password')
                                i.fa.fa-lock
                                |  Change Password
                        li
                            a.dropdown-item(href='#')
                                i.fa.fa-sliders
                                |  Settings
                        li.divider.dropdown-divider
                        li
                            a.dropdown-item(href='/logout')
                                i.fa.fa-sign-out
                                |  Logout

    .student_viewing.chung
        .container-fluid
            
            h3 The most popular courses
            .row.text-center
                each item in result
                    .col-lg-3

                        .card(style='width: 18rem;')
                            .lammo.card-img-top
                                img.card-img-top(src=item.linkImg, alt='')
                                .black_bg
                            .card-body
                                h5.card-title= item.title
                                p.card-text= item.description
                                .text 
                                    strike= "$"+(item.price+110)
                                    strong= "$"+item.price
                                a.btn.btn-outline-success#add_cart(href='/course_detail/'+item.courseID ) View more detail
                                //- a.btn.btn-outline-success#add_cart(href='/Add_Cart/'+item.courseID ) Add to Cart

    


        //- #Modal_Add_Cart.modal.fade
        //-     .modal-dialog.modal-confirm
        //-         .modal-content.text-center
        //-             .modal-header
        //-                 .icon-box
        //-                     i.fa.fa-check
        //-                 h4.modal-title Awesome!
        //-             .modal-body
        //-                 p.text-center You have successfully added. Please check your cart.
        //-             .modal-footer     
        //-                 a.btn.btn-success.btn-block(href="/Add_Cart/"+ item.courseID ) OK



        //- nav.navbar.navbar-inverse.navbar-expand-xl.navbar-dark
    //-     .navbar-header.d-flex.col
    //-         a.navbar-brand(href='#')
    //-             i.fa.fa-cube
    //-             b BKElearning
    //-         button.navbar-toggle.navbar-toggler.ml-auto(type='button', data-target='#navbarCollapse', data-toggle='collapse')
    //-             span.navbar-toggler-icon
    //-             span.icon-bar
    //-             span.icon-bar
    //-             span.icon-bar
    //-     // Collection of nav links, forms, and other content for toggling
    //-     #navbarCollapse.collapse.navbar-collapse.justify-content-start
    //-         form.navbar-form.form-inline
    //-             .input-group.search-box
    //-                 input#search.form-control(type='text', placeholder='Search here...')
    //-                 span.input-group-addon
    //-                     i.fa.fa-search
    //-         ul.nav.navbar-nav.navbar-right.ml-auto
    //-             li.nav-item.active
    //-                 a.nav-link(href='#')
    //-                     i.fa.fa-home
    //-                     span Home
    //-             li.nav-item
    //-                 a.nav-link.notifications(href='#')
    //-                     i.fa.fa-bell-o
    //-                     span.badge 1
    //-             li.nav-item
                
    //-                 a.nav-link(href='#')
    //-                     i.fa.fa-gears
    //-                     span Projects
    //-             li.nav-item
    //-                 a.nav-link(href='#')
    //-                     i.fa.fa-users
    //-                     span Team
    //-             li.nav-item
    //-                 a.nav-link(href='#')
    //-                     i.fa.fa-pie-chart
    //-                     span Reports
    //-             li.nav-item
    //-                 a.nav-link(href='#')
    //-                     i.fa.fa-briefcase
    //-                     span Careers
    //-             li.nav-item
    //-                 a.nav-link(href='#')
    //-                     i.fa.fa-envelope
    //-                     span Messages
    //-             li.nav-item
    //-                 a.nav-link(href='#')
    //-                     i.fa.fa-bell
    //-                     span Notifications
    //-             li.nav-item.dropdown
    //-                 a.nav-link.dropdown-toggle.user-action(href='#', data-toggle='dropdown')
    //-                     img.avatar(src='https://www.tutorialrepublic.com/examples/images/avatar/3.jpg', alt='Avatar')
    //-                     = user.name
    //-                     b.caret
    //-                 ul.dropdown-menu
    //-                     li
    //-                         a.dropdown-item(href='#')
    //-                             i.fa.fa-user-o
    //-                             |  Profile
    //-                     li
    //-                         a.dropdown-item(href='/change_password')
    //-                             i.fa.fa-lock
    //-                             |  Change Password
    //-                     li
    //-                         a.dropdown-item(href='#')
    //-                             i.fa.fa-sliders
    //-                             |  Settings
    //-                     li.divider.dropdown-divider
    //-                     li
    //-                         a.dropdown-item(href='/logout')
    //-                             i.fa.fa-sign-out
    //-                             |  Logout

    //- .container
    //-     .row
    //-         .col-md-12
    //-             h2
    //-                 | Featured 
    //-                 b Products
    //-             #myCarousel.carousel.slide(data-ride='carousel', data-interval='0')
    //-                 // Carousel indicators
    //-                 ol.carousel-indicators
    //-                     li.active(data-target='#myCarousel', data-slide-to='0')
    //-                     li(data-target='#myCarousel', data-slide-to='1')
    //-                     li(data-target='#myCarousel', data-slide-to='2')
    //-                 // Wrapper for carousel items
    //-                 .carousel-inner
    //-                     .item.carousel-item.active
    //-                         .row
    //-                             .col-sm-3
    //-                                 .thumb-wrapper
    //-                                     span.wish-icon
    //-                                         i.fa.fa-heart-o
    //-                                     .img-box
    //-                                         img.img-responsive.img-fluid(src='/examples/images/products/ipad.jpg', alt='')
    //-                                     .thumb-content
    //-                                         h4 Apple iPad
    //-                                         .star-rating
    //-                                             ul.list-inline
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star-o
    //-                                         p.item-price
    //-                                             strike $400.00
    //-                                             b $369.00
    //-                                         a.btn.btn-primary(href='#') Add to Cart
    //-                             .col-sm-3
    //-                                 .thumb-wrapper
    //-                                     span.wish-icon
    //-                                         i.fa.fa-heart-o
    //-                                     .img-box
    //-                                         img.img-responsive.img-fluid(src='/examples/images/products/ipad.jpg', alt='')
    //-                                     .thumb-content
    //-                                         h4 Apple iPad
    //-                                         .star-rating
    //-                                             ul.list-inline
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star-o
    //-                                         p.item-price
    //-                                             strike $400.00
    //-                                             b $369.00
    //-                                         a.btn.btn-primary(href='#') Add to Cart
    //-                             .col-sm-3
    //-                                 .thumb-wrapper
    //-                                     span.wish-icon
    //-                                         i.fa.fa-heart-o
    //-                                     .img-box
    //-                                         img.img-responsive.img-fluid(src='/examples/images/products/ipad.jpg', alt='')
    //-                                     .thumb-content
    //-                                         h4 Apple iPad
    //-                                         .star-rating
    //-                                             ul.list-inline
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star-o
    //-                                         p.item-price
    //-                                             strike $400.00
    //-                                             b $369.00
    //-                                         a.btn.btn-primary(href='#') Add to Cart
    //-                             .col-sm-3
    //-                                 .thumb-wrapper
    //-                                     span.wish-icon
    //-                                         i.fa.fa-heart-o
    //-                                     .img-box
    //-                                         img.img-responsive.img-fluid(src='/examples/images/products/ipad.jpg', alt='')
    //-                                     .thumb-content
    //-                                         h4 Apple iPad
    //-                                         .star-rating
    //-                                             ul.list-inline
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star-o
    //-                                         p.item-price
    //-                                             strike $400.00
    //-                                             b $369.00
    //-                                         a.btn.btn-primary(href='#') Add to Cart
    //-                     .item.carousel-item
    //-                         .row
    //-                             .col-sm-3
    //-                                 .thumb-wrapper
    //-                                     span.wish-icon
    //-                                         i.fa.fa-heart-o
    //-                                     .img-box
    //-                                         img.img-responsive.img-fluid(src='/examples/images/products/ipad.jpg', alt='')
    //-                                     .thumb-content
    //-                                         h4 Apple iPad
    //-                                         .star-rating
    //-                                             ul.list-inline
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star-o
    //-                                         p.item-price
    //-                                             strike $400.00
    //-                                             b $369.00
    //-                                         a.btn.btn-primary(href='#') Add to Cart
    //-                             .col-sm-3
    //-                                 .thumb-wrapper
    //-                                     span.wish-icon
    //-                                         i.fa.fa-heart-o
    //-                                     .img-box
    //-                                         img.img-responsive.img-fluid(src='/examples/images/products/ipad.jpg', alt='')
    //-                                     .thumb-content
    //-                                         h4 Apple iPad
    //-                                         .star-rating
    //-                                             ul.list-inline
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star-o
    //-                                         p.item-price
    //-                                             strike $400.00
    //-                                             b $369.00
    //-                                         a.btn.btn-primary(href='#') Add to Cart
    //-                             .col-sm-3
    //-                                 .thumb-wrapper
    //-                                     span.wish-icon
    //-                                         i.fa.fa-heart-o
    //-                                     .img-box
    //-                                         img.img-responsive.img-fluid(src='/examples/images/products/ipad.jpg', alt='')
    //-                                     .thumb-content
    //-                                         h4 Apple iPad
    //-                                         .star-rating
    //-                                             ul.list-inline
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star-o
    //-                                         p.item-price
    //-                                             strike $400.00
    //-                                             b $369.00
    //-                                         a.btn.btn-primary(href='#') Add to Cart
    //-                             .col-sm-3
    //-                                 .thumb-wrapper
    //-                                     span.wish-icon
    //-                                         i.fa.fa-heart-o
    //-                                     .img-box
    //-                                         img.img-responsive.img-fluid(src='/examples/images/products/ipad.jpg', alt='')
    //-                                     .thumb-content
    //-                                         h4 Apple iPad
    //-                                         .star-rating
    //-                                             ul.list-inline
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star
    //-                                                 li.list-inline-item
    //-                                                     i.fa.fa-star-o
    //-                                         p.item-price
    //-                                             strike $400.00
    //-                                             b $369.00
    //-                                         a.btn.btn-primary(href='#') Add to Cart
                                

    //-                 // Carousel controls
    //-                 a.carousel-control.left.carousel-control-prev(href='#myCarousel', data-slide='prev')
    //-                     i.fa.fa-angle-left
    //-                 a.carousel-control.right.carousel-control-next(href='#myCarousel', data-slide='next')
    //-                     i.fa.fa-angle-right



    script(src="/utilitys/home_user.js")
